<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
        <title>Cargas de combustible</title>
    {% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/sidebar.css') }}">
</head>
<body>
{% block header %}
    <nav class="navbar navbar-light fixed-top bg-light p-0 shadow">
      <a class="navbar-brand col-sm-3 col-md-1 mr-0 bg-light" href="{{ url_for('index') }}">
         TMX
      </a>
      <!-- <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search"> -->
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="{{ url_for('auth.logout') }}">Sign out</a>
        </li>
      </ul>
    </nav>
{% endblock %}

{% block content %}
    <div class="container" style="padding-top: 70px;">
        <h1>Binevenido a la app de cargas de combustible</h1>
    </div>
{% endblock %}

{% block footer %}

{% endblock %}

<script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
</body>
</html>