<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
        <title>Base auth</title>
    {% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-grid.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/signin.css') }}">
</head>
<body class="text-center">

    {% block content %}
        <h1>Content</h1>
    {% endblock %}

<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>