{% extends "auth/base_auth.html" %}

{% block title %}
    <title>Inicia sesión</title>
{% endblock %}

{% block content %}
    {% from "_macro.html" import render_field %}
        <form class="form-signin" action="{{ url_for('auth.login') }}" method="post">
            {{ form.csrf_token }}

            <img class="mb-1" src="{{ url_for('static', filename='imges/logotelematixlogin.png') }}" alt="" width="170" height="160">

            <h1 class="h3 mb-3 font-weight-normal">Iniciar sesión</h1>
                {{ form.username.label(class="sr-only") }}
                {{ render_field(form.username, class="form-control", placeholder="Nombre de usuario") }}
                {{ form.password.label(class="sr-only") }}
                {{ render_field(form.password, class="form-control", placeholder="Contraseña") }}
                {% for message in get_flashed_messages() %}
                    <div class="small alert alert-danger">{{ message }}</div>
                {% endfor %}
                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" value="Recordar"> Recordar
                    </label>
                </div>
                <input type="submit" class="btn btn-lg btn-outline-info btn-block" value="Inicia sesión">
                <p class="mt-5 mb-3 text-muted">&copy; Telematix SRL</p>
        </form>

{% endblock %}