{% extends "auth/base_auth.html" %}

{% block title %}
    <title>Registro un usuario</title>
{% endblock %}

{% block content %}
     {% from "_macro.html" import render_field %}
        <form class="form-signin" action="{{ url_for('auth.register') }}" method="post">
            {{ form.csrf_token }}
                {{ form.name.label}}
                {{ render_field(form.name, class="form-control")}}
                {{ form.last_name.label }}
                {{ render_field(form.last_name, class="form-control") }}
                {{ form.username.label }}
                {{ render_field(form.username, class="form-control") }}
                {{ form.password.label }}
                {{ render_field(form.password, class="form-control") }}

            <input type="submit" class="btn btn-outline-success btn-lg btn-block" value="Guardar">
        </form>
{% endblock %}